body {
    font-family: Verdana, sans-serif;
}

pre {
    padding: 5px;
    margin: 5px;
}

.string {
    color: lightsteelblue;
}

.number {
    color: lightsteelblue;
}

.boolean {
    color: orange;
}

.null {
    color: orange;
}

.key {
    color: #bababa;
}

.titlebar a {
    color: #bababa;
}


/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #2b2b2b;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    font-family: Verdana, sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    color: #bababa;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

